<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payne Smart Mirror</title>
    <link rel="stylesheet" href="https://use.typekit.net/ems3sui.css">
    <link rel="stylesheet" href="homeStyles.css">
  </head>
  <body>

    <div class="time">
      <h1 class="time">5:36</h1>
    </div>

    <div class="hNeeds">
      <h1 class="hNeeds">HOUSE<br>NEEDS</h1>
    </div>

    <div>
      <ul>
        <li>this is a house need</li>
        <li>this is a house need</li>
        <li>this is a house need</li>
      </ul>
    </div>

    <div class="psa">
      <h1 class="psa">PSA</h1>
    </div>

    <div>
      <ul>
        <span><li>thing one</li></span>
        <span><li>thing two</li></span>
      </ul>
    </div>

    <div class="weather">
      <h1 class="weather">WEATHER</h1>
    </div>


    <div class="pGraph">
      <img class="pGraph" src="weiners.png">
    </div>

    <div class="caption">
      <h3 class="caption">Precipitation</h3>
    </div>

    <div class="pGraph">
      <img class="pGraph" src="weiners.png">
    </div>

    <div class="caption">
      <h3 class="caption">Temperature</h3>
    </div>

  </body>
</html>
